<section class="profile_panel">
  <h1 class="profile-panel__heading">{{ 'account.profileHeading' | translate }}</h1>
  <i>{{ 'account.usernameImmutable' | translate }}</i>
  <i>{{ 'account.emailImmutable' | translate }}</i>

  <form [formGroup]="viewModel.profileForm" (ngSubmit)="viewModel.submitProfileChange()">
    <label>
      <span>{{ 'account.displayNameLabel' | translate }}</span>
      <input type="text" formControlName="displayName" autocomplete="name" />
      @if (viewModel.fieldValidationMessages()['displayName']; as validationMessage) {
        <em>{{ validationMessage }}</em>
      }
    </label>

    <button type="submit" [disabled]="viewModel.isSubmitting()">
      @if (viewModel.isSubmitting()) {
        {{ 'form.submitting' | translate }}
      } @else {
        {{ 'account.saveProfileAction' | translate }}
      }
    </button>

    <app-form-feedback
      [failureMessage]="viewModel.submissionFailure()"
      [successMessage]="viewModel.submissionSuccess()"
      [validationMessages]="viewModel.backendValidationMessages()"
    />
  </form>
</section>
