<article class="download_page">

  <h1>{{ 'download.downloadAction.heading' | translate }}</h1>

  <ul>
    @for (downloadOption of viewModel.downloadOptions; track downloadOption.headingTranslationKey) {
      <li class="download-page__option">
        <h2>
          {{ downloadOption.headingTranslationKey | translate }}
        </h2>

        @if (downloadOption.isAvailable) {
          @if (downloadOption.leavesThisSite) {
            <a
              class="button"
              [href]="downloadOption.downloadUrl"
              rel="noopener noreferrer"
              target="_blank"
            >
              {{ downloadOption.actionTranslationKey | translate }}
            </a>
          } @else {
            <a class="button" [href]="downloadOption.downloadUrl" download>
              {{ downloadOption.actionTranslationKey | translate }}
            </a>
          }
        } @else {
          <u>
            {{ downloadOption.unavailableTranslationKey | translate }}
          </u>
        }

        <i class="download-page__option-text">
          {{ downloadOption.textTranslationKey | translate }}
        </i>
      </li>
    }
  </ul>

  <h1 class="download-page__sync-title">{{ 'download.registerAction.heading' | translate }}</h1>

  <ol>
    <li class="download-page__option">
      <h2>
        {{ 'download.registerAction.heading2' | translate }}
      </h2>
      <p>{{ 'download.registerAction.leadText' | translate }}</p>
      <a class="button" [href]="">
        {{ 'download.registerAction.registerButton' | translate }}
      </a>
      <a class="button" [href]="">
        {{ 'download.registerAction.loginButton' | translate }}
      </a>
    </li>

    <li class="download-page__option">

      <div>
        <h2>
          {{ 'download.pairAction.headingNormalLogin' | translate }}
        </h2>
        <p></p>
        <p>{{ 'download.pairAction.tutorText3' | translate }}</p>
        <img
          [src]="'install/standart-login-menu_1x.webp' | localizedImage"
          [srcset]="'install/standart-login-menu_1x.webp' | localizedImageSrcset"
          [alt]="'download.pairAction.standartLoginMenuAlt' | translate"
        />
        <p>{{ 'download.pairAction.tutorText4' | translate }}</p>
        <img
          [src]="'install/standart-login-form_1x.webp' | localizedImage"
          [srcset]="'install/standart-login-form_1x.webp' | localizedImageSrcset"
          [alt]="'download.pairAction.standartLoginFormAlt' | translate"
        />
        <p>{{ 'download.pairAction.tutorText5' | translate }}</p>
        <p>{{ 'download.pairAction.tutorText6' | translate }}</p>
        <img
          [src]="'install/standart-login-menu-logged_1x.webp' | localizedImage"
          [srcset]="'install/standart-login-menu-logged_1x.webp' | localizedImageSrcset"
          [alt]="'download.pairAction.standartLoginMenuLoggedAlt' | translate"
        />
      </div>

      <br><br>

      <div>
        <h2>
          {{ 'download.pairAction.headingGoogleLogin' | translate }}
        </h2>
        <p>{{ 'download.pairAction.tutorText7' | translate }}</p>
        <p>{{ 'download.pairAction.tutorText8' | translate }}</p>
        <p>
          {{ 'download.pairAction.tutorText9' | translate }}
          <a class="button" [href]="">
            {{ 'download.registerAction.loginButton' | translate }}
          </a>
        </p>
        <p>
          {{ 'download.pairAction.tutorText1' | translate }}
          <a class="button" [href]="">
            {{ 'download.pairAction.devicesButton' | translate }}
          </a>
          {{ 'download.pairAction.tutorText2' | translate }}
        </p>
        <img
          [src]="'install/use-connection-code_1x.webp' | localizedImage"
          [srcset]="'install/use-connection-code_1x.webp' | localizedImageSrcset"
          [alt]="'download.pairAction.useConnectionCodeAlt' | translate"
        />
        <br />
        <img
          [src]="'install/use-connection-code-2_1x.webp' | localizedImage"
          [srcset]="'install/use-connection-code-2_1x.webp' | localizedImageSrcset"
          [alt]="'download.pairAction.useConnectionCode2Alt' | translate"
        />
        <p>{{ 'download.pairAction.tutorText10' | translate }}</p>
        <img
          [src]="'install/use-connection-code-3_1x.webp' | localizedImage"
          [srcset]="'install/use-connection-code-3_1x.webp' | localizedImageSrcset"
          [alt]="'download.pairAction.useConnectionCode3Alt' | translate"
        />
        <br />
        <img
          [src]="'install/use-connection-code-4_1x.webp' | localizedImage"
          [srcset]="'install/use-connection-code-4_1x.webp' | localizedImageSrcset"
          [alt]="'download.pairAction.useConnectionCode4Alt' | translate"
        />
        <p>{{ 'download.pairAction.tutorText11' | translate }}</p>
        <img
          [src]="'install/use-connection-code-5_1x.webp' | localizedImage"
          [srcset]="'install/use-connection-code-5_1x.webp' | localizedImageSrcset"
          [alt]="'download.pairAction.useConnectionCode5Alt' | translate"
        />
      </div>

    </li>
  </ol>
</article>
