// Styling is deliberately left to be written by hand; these are the hooks to write it against.

.download_page {
  padding: 1em;
}

.download-page__option {
  margin-top: 3em;

  h3 {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  img {
    border-radius: 0.5em;
    border: 0.25em solid var(--color-accent);
    margin: 0.5em 0;
    max-width: 100%;
  }
}

.download-page__sync-title {
  margin-top: 2em;
}
