<article>
  <h1>{{ 'download.heading' | translate }}</h1>

  <ul>
    @for (downloadOption of viewModel.downloadOptions; track downloadOption.headingTranslationKey) {
      <li class="download-page__option">
        <h2>
          {{ downloadOption.headingTranslationKey | translate }}
        </h2>

        @if (downloadOption.isAvailable) {
          @if (downloadOption.leavesThisSite) {
            <a
              class="button"
              [href]="downloadOption.downloadUrl"
              rel="noopener noreferrer"
              target="_blank"
            >
              {{ downloadOption.actionTranslationKey | translate }}
            </a>
          } @else {
            <a class="button" [href]="downloadOption.downloadUrl" download>
              {{ downloadOption.actionTranslationKey | translate }}
            </a>
          }
        } @else {
          <u>
            {{ downloadOption.unavailableTranslationKey | translate }}
          </u>
        }

        <i class="download-page__option-text">
          {{ downloadOption.textTranslationKey | translate }}
        </i>
      </li>
    }
  </ul>
</article>
