<section>
  <h1 class="password-panel__heading">{{ 'account.passwordHeading' | translate }}</h1>

  @if (accountHasPassword()) {
    <i>{{ 'account.passwordChangeLead' | translate }}</i>
  } @else {
    <i>{{ 'account.passwordSetLead' | translate }}</i>
  }

  <form [formGroup]="viewModel.passwordForm" (ngSubmit)="viewModel.submitPasswordChange()">
    @if (accountHasPassword()) {
      <label>
        <span>{{ 'account.currentPasswordLabel' | translate }}</span>
        <input type="password" formControlName="currentPassword" autocomplete="current-password" />
        @if (viewModel.fieldValidationMessages()['currentPassword']; as validationMessage) {
          <em>{{ validationMessage }}</em>
        }
      </label>
    }

    <label>
      <span>{{ 'account.newPasswordLabel' | translate }}</span>
      <input type="password" formControlName="newPassword" autocomplete="new-password" />
      <small>{{ 'account.newPasswordHint' | translate }}</small>
      @if (viewModel.fieldValidationMessages()['newPassword']; as validationMessage) {
        <em>{{ validationMessage }}</em>
      }
    </label>

    <button type="submit" [disabled]="viewModel.isSubmitting()">
      @if (viewModel.isSubmitting()) {
        {{ 'form.submitting' | translate }}
      } @else if (accountHasPassword()) {
        {{ 'account.changePasswordAction' | translate }}
      } @else {
        {{ 'account.setPasswordAction' | translate }}
      }
    </button>

    <app-form-feedback
      [failureMessage]="viewModel.submissionFailure()"
      [successMessage]="viewModel.submissionSuccess()"
      [validationMessages]="viewModel.backendValidationMessages()"
    />
  </form>
</section>
