<section class="premium_panel">
  <h1>{{ 'account.premium.heading' | translate }}</h1>
  <p>{{ 'account.premium.lead' | translate }}</p>
  <p>{{ 'account.premium.withdrawalNotice' | translate }}</p>
  @if (viewModel.subscriptionCancellationNotice(); as subscriptionCancellationNotice) {
    <p>{{ subscriptionCancellationNotice }}</p>
  }

  <form [formGroup]="viewModel.purchaseForm" (ngSubmit)="viewModel.submitPremiumPurchase()">
    <fieldset>
      @for (planOption of viewModel.planOptions(); track planOption.plan) {
        <label>
          <input type="radio" formControlName="plan" [value]="planOption.plan" />
          <span>{{ planOption.label }}</span>
          <small>{{ planOption.description }}</small>
        </label>
      }
      @if (viewModel.fieldValidationMessages()['plan']; as validationMessage) {
        <br>
        <em>{{ validationMessage }}</em>
      }
    </fieldset>

    <button type="submit" [disabled]="viewModel.isSubmitting()">
      @if (viewModel.isSubmitting()) {
        {{ 'form.submitting' | translate }}
      } @else {
        {{ 'account.premium.proceedAction' | translate }}
      }
    </button>

    <app-form-feedback
      [failureMessage]="viewModel.submissionFailure()"
      [successMessage]="viewModel.submissionSuccess()"
      [validationMessages]="viewModel.backendValidationMessages()"
    />
  </form>
</section>
