<article>
  <h1>{{ 'login.heading' | translate }}</h1>

  <form [formGroup]="viewModel.loginForm" (ngSubmit)="viewModel.submitSignIn()">
    <label>
      <span>{{ 'login.usernameOrEmailLabel' | translate }}</span>
      <input type="text" formControlName="usernameOrEmail" autocomplete="username" />
      @if (viewModel.fieldValidationMessages()['usernameOrEmail']; as validationMessage) {
        <br />
        <em>{{ validationMessage }}</em>
      }
    </label>

    <label>
      <span>{{ 'login.passwordLabel' | translate }}</span>
      <input type="password" formControlName="password" autocomplete="current-password" />
      @if (viewModel.fieldValidationMessages()['password']; as validationMessage) {
        <br />
        <em>{{ validationMessage }}</em>
      }
    </label>

    <button type="submit" [disabled]="viewModel.isSubmitting()">
      @if (viewModel.isSubmitting()) {
        {{ 'form.submitting' | translate }}
      } @else {
        {{ 'login.submitAction' | translate }}
      }
    </button>

    <app-form-feedback
      [failureMessage]="viewModel.submissionFailure()"
      [successMessage]="viewModel.submissionSuccess()"
      [validationMessages]="viewModel.backendValidationMessages()"
    />
  </form>

  <section class="login-page__google">
    <h1>{{ 'login.googleSeparator' | translate }}</h1>
    <button type="button" (click)="viewModel.signInWithGoogle()">
      {{ 'login.googleAction' | translate }}
    </button>
    <br>
    <p class="login-page__google-hint">{{ 'login.googleHint' | translate }}</p>
  </section>

  <section class="login-page__forgot-password">
    <h1>{{ 'login.forgotPassword' | translate }}</h1>
    <a class="button" [routerLink]="routeLinks.resetPassword">
      {{ 'login.forgotPasswordAction' | translate }}
    </a>
  </section>

  <section class="login-page__register">
    <h1>{{ 'login.noAccount' | translate }}</h1>
    <a class="button" [routerLink]="routeLinks.register">
      {{ 'login.registerLink' | translate }}
    </a>
  </section>
</article>
