<article>
  @if (viewModel.isSettingNewPassword()) {

    <h1>{{ 'passwordReset.confirmHeading' | translate }}</h1>
    <i>{{ 'passwordReset.confirmLead' | translate }}</i>

    @if (viewModel.isPasswordSet()) {

      <a [routerLink]="loginLink" class="button">{{ 'passwordReset.loginAction' | translate }}</a>

    } @else {

      <form [formGroup]="viewModel.confirmationForm" (ngSubmit)="viewModel.submitNewPassword()">

        <label>
          <span>{{ 'passwordReset.newPasswordLabel' | translate }}</span>
          <input type="password" formControlName="newPassword" autocomplete="new-password" />
          <small>{{ 'passwordReset.newPasswordHint' | translate }}</small>
          @if (viewModel.confirmationValidationMessages()['newPassword']; as validationMessage) {
            <em>{{ validationMessage }}</em>
          }
        </label>

        <button type="submit" [disabled]="viewModel.isSubmitting()">
          @if (viewModel.isSubmitting()) {
            {{ 'form.submitting' | translate }}
          } @else {
            {{ 'passwordReset.confirmAction' | translate }}
          }
        </button>

      </form>

    }
  } @else {

    <h1>{{ 'passwordReset.requestHeading' | translate }}</h1>
    <i>{{ 'passwordReset.requestLead' | translate }}</i>

    <form [formGroup]="viewModel.requestForm" (ngSubmit)="viewModel.submitResetRequest()">

      <label>
        <span>{{ 'passwordReset.emailLabel' | translate }}</span>
        <input type="email" formControlName="email" autocomplete="email" />
        @if (viewModel.requestValidationMessages()['email']; as validationMessage) {
          <em>{{ validationMessage }}</em>
        }
      </label>

      <button type="submit" [disabled]="viewModel.isSubmitting()">
        @if (viewModel.isSubmitting()) {
          {{ 'form.submitting' | translate }}
        } @else {
          {{ 'passwordReset.requestAction' | translate }}
        }
      </button>

    </form>
  }

  <app-form-feedback
    [failureMessage]="viewModel.submissionFailure()"
    [successMessage]="viewModel.submissionSuccess()"
    [validationMessages]="viewModel.backendValidationMessages()"
  />

  <a [routerLink]="loginLink" class="button">{{ 'passwordReset.backToLogin' | translate }}</a>

</article>
