<footer class="page-footer">
  <nav [attr.aria-label]="'legal.sitemapHeading' | translate">
    <ul>
      <li class="page-footer__links-item">
        <a class="page-footer__link" [routerLink]="routeLinks.privacy">{{
          'footer.privacy' | translate
        }}</a>
      </li>
      <li class="page-footer__links-item">
        <a class="page-footer__link" [routerLink]="routeLinks.terms">{{
          'footer.terms' | translate
        }}</a>
      </li>
      <li class="page-footer__links-item">
        <a class="page-footer__link" [routerLink]="routeLinks.refunds">{{
          'footer.refunds' | translate
        }}</a>
      </li>
      <li class="page-footer__links-item">
        <a class="page-footer__link" [routerLink]="routeLinks.cookies">{{
          'footer.cookies' | translate
        }}</a>
      </li>
      <li class="page-footer__links-item">
        <a class="page-footer__link" [routerLink]="routeLinks.sitemap">{{
          'footer.sitemap' | translate
        }}</a>
      </li>
    </ul>
  </nav>

  <p>
    {{ 'footer.supportLabel' | translate }}
    <a class="page-footer__support-link" [href]="viewModel.supportEmailHref">{{
      viewModel.supportEmailAddress
    }}</a>
  </p>

  <p class="page-footer__authorship">
    <span class="page-footer__copyright">{{ viewModel.copyrightNotice() }}</span>
    &nbsp;&nbsp;
    <a
      class="page-footer__author-link"
      [href]="viewModel.authorWebsiteUrl"
      rel="noopener noreferrer"
      target="_blank"
      >{{ viewModel.authorWebsiteLabel() }}</a
    >
  </p>
</footer>
