// Styling is deliberately left to be written by hand; this file is wired up and ready for it.

.thank_you {
  padding: 1em;

  h1 {
    font-size: 4em;
  }

  p {
    font-size: 1.25em;
  }

  a {
    display: inline-block;
    margin-top: 1em;
  }
}
